:host {
  display: block;
  width: 100%;
}
.form {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  background-color: #479390;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 5px;
  font-size: 14px;
}
.name,
.type,
.options {
  max-width: 30%;
}
.instruction {
  color: rgb(145, 255, 0);
  font-weight: bold;
  display: block;
}
.delete-icon {
  color: red;
}
